<div class="graph-container" (keyup)="onKeyUp($event)">
  <div class="controls">
    <button (click)="zoomIn()" title="Zoom in"> <mat-icon>zoom_in</mat-icon> Zoom In </button>
    <button (click)="zoomOut()" title="Zoom out"> <mat-icon>zoom_out</mat-icon> Zoom Out </button>
    <button (click)="fit()" title="Fit to view"> <mat-icon>fit_screen</mat-icon> Fit </button>

    <div class="controls-divider"></div>

    <button
      (click)="showAllReferences()"
      [disabled]="selectedResource?.resourceType !== 'Patient'"
      [title]="
        selectedResource?.resourceType !== 'Patient' ? 'Select a Patient node first' : 'Load all $everything references'
      ">
      <mat-icon>account_tree</mat-icon> All References
    </button>
    <button (click)="showDirectReferences()" [disabled]="!selectedResource" title="Show direct FHIR references">
      <mat-icon>call_split</mat-icon> Direct Refs
    </button>
    <button (click)="addIndirectReference()" [disabled]="!selectedResource" title="Search indirect references">
      <mat-icon>add_link</mat-icon> Indirect Ref
    </button>

    <div class="controls-divider"></div>

    <button
      class="btn-danger"
      (click)="deleteNodeOrEdge()"
      [disabled]="!selectedResource"
      title="Delete selected node or edge">
      <mat-icon>delete_outline</mat-icon> Delete
    </button>
  </div>
  <div #networkContainer class="network-graph"></div>
  @if (selectedResource) {
    <div class="resource-view">
      <app-fhir-json-viewer [resource]="selectedResource"></app-fhir-json-viewer>
    </div>
  }
</div>
