.app-sidenav-container {
  height: calc(100vh - 56px);
  background-color: var(--bg-app);
}

mat-sidenav {
  width: 240px;
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
}

.content-area {
  padding: 24px;
  min-height: 100%;
}
