<div class="detail-header">
  <div class="detail-header-left">
    <h2 class="detail-title">{{ resourceType }}</h2>
    <span class="detail-id">{{ resourceId }}</span>
  </div>
  <a routerLink="_history" class="history-link">
    <mat-icon>history</mat-icon>
    View History
  </a>
</div>

@if (resource) {
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    (selectedTabChange)="onTabChange($event)"
    class="detail-tabs">
    <mat-tab label="Detail">
      <div class="detail-actions">
        <button mat-stroked-button (click)="goToEditPage()" class="button-with-icon">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-stroked-button (click)="deleteResource()" class="button-with-icon action-delete">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </div>
      <div class="detail-content">
        <app-fhir-json-viewer [resource]="resource"></app-fhir-json-viewer>
      </div>
    </mat-tab>
    <mat-tab label="Graph">
      <app-fhir-resource-graph #graphComponent [resource]="resource"></app-fhir-resource-graph>
    </mat-tab>
  </mat-tab-group>
}
